<div class="box-wrapper" *ngIf="showBox && false">
  <div class="no-permissions-icon">
    <img src="../../../assets/media/icons/no-location-permissions.svg" alt="">
  </div>
  <div class="text-wrapper">
    <div class="msg-header">
      <span>לא ניתן לאתר את מיקומך  <br> ולכן מוצגים בפניך סניפים באזור המרכז</span>
    </div>
    <div class="msg-text">
      <span>על מנת לאתר את סניפי הבנק הרלוונטיים עבורך, מומלץ להשתמש בכלי הסינון, בשורת החיפוש או לאשר את זיהוי מיקומך בהגדרות הדפדפן</span>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="outlined-btn" (click)="activateLocation()">{{'confirmLocation' | rcTranslate}}</button>
  </div>
  <button class="close-btn" (click)="dismiss()"></button>
</div>
