<div class="box-wrapper" >
  <div class="no-permissions-icon" >
    <img src="{{'icons/no-location-permissions.svg' | imgUrl}}" alt="">
  </div>
  <div class="text-wrapper">
    <div class="msg-header">
      <span>{{'locationHeader2'|rcTranslate}}</span>
      <div>{{'locationHeader'|rcTranslate}}</div>
    </div>
    <div class="msg-text">
      <span [innerHTML]="'locationMsg' | rcTranslate"></span>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="btn text-to-crop " (click)="dismiss()" > {{'confirmLocation' | rcTranslate}}</button>
  </div>
  <button class="close-btn"  (click)="dismiss()"></button>
</div>
