@import "../../../assets/scss/colors";
@import "../../../assets/scss/shared_param";

.box-wrapper {
  box-shadow: 0 14px 34px 1px rgba(10, 41, 76, 0.16);
  background-color: $white;
  max-width: 455px;
  max-height: 288px;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 5.9px;
  position: absolute;
  z-index: 9;

  .no-permissions-icon {
    margin-bottom: .5rem;
  }
  .text-wrapper {
    color: $greyish-brown;
    .msg-header {
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      margin-bottom: .4rem;
    }
    .msg-text {
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      line-height: 1.06;
    }
  }
  .btn-wrapper {
    padding: 2rem 0;
  }
  .close-btn {
    position: absolute;
    #{$default-end}: 1rem;
    top: 1rem;
    border: none;
    background: none;
  }
  .close-btn:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2573"; /* use the hex value here... */
    font-size: 10px;
    color: black;
    line-height: 1;
    text-align: center;
  }
}
