<div class="box-wrapper" >
  <div class="no-permissions-icon" >
    <img src="../../../assets/media/icons/no-location-permissions.svg" alt="">
  </div>
  <div class="text-wrapper">
    <div class="msg-header">
      <span>{{'locationHeader2'|rcTranslate}}</span>
      <div>{{'locationHeader'|rcTranslate}}</div>
    </div>
    <div class="msg-text">
      <span>{{'locationMsg'|rcTranslate}}</span>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="outlined-btn" (click)="dismiss()">{{'closed' | rcTranslate}}</button>
  </div>
  <button class="close-btn"  (click)="dismiss()"></button>
</div>
