<div class="report-problem-wrapper">
  <div class="image-wrapper" >
    <img src="../../../assets/media/images/report-problem-img.svg" alt="">
  </div>
  <div class="msg-wrapper" >
    <div class="msg-header">
      {{'reportProblemHeader' | rcTranslate}}
    </div>
    <div class="msg-text">
      <span>{{'reportProblemMsg1' | rcTranslate}}</span> <br>
      <span>{{'reportProblemMsg2' | rcTranslate}}</span>
    </div>
  </div>
  <div class="choose-problem-wrapper">
    <div class="choose-problem-header">
      {{'chooseProblem' | rcTranslate}}
    </div>
    <div class="choose-problem-btns">
      <button class="outlined-btn" (click)="reportBadHours()">{{'badOpenHours' | rcTranslate}}</button>
      <button class="outlined-btn" (click)="reportBadAddress()">{{'badAddress' | rcTranslate}}</button>
      <button class="outlined-btn" (click)="reportBadServiceToggle = true">{{ 'badServices' | rcTranslate}}</button>
    </div>
  </div>
</div>
