@import "../../../assets/scss/shared_param";
@import "../../../assets/scss/colors";

/deep/.modal-body {
  padding: 0;
}

.report-problem-wrapper {
  text-align: center;
  padding: 2rem;

  .image-wrapper {
    margin-bottom: 1rem;
    transition: all ease 0.7s;
    overflow: hidden;
    height: 150px;
    max-height: 1000px;
  }
  .image-wrapper.shrink {
    height: 0;
  }

  .msg-wrapper {
    margin-bottom: 1rem;

    .msg-header {
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $greyish-brown;
    }
    .msg-text {
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: $greyish-brown;
      overflow: hidden;
      height: auto;
      max-height: 600px;
    }
    .msg-text.shrink {
      max-height: 0;
    }
  }

  .choose-problem-wrapper {
    .choose-problem-header {
      margin-bottom: 1rem;
      font-size: 20px;
      color: $greyish-brown;
      //transition: all ease 0.7s;
      overflow: hidden;
      height: auto;
      max-height: 600px;
    }
    .choose-problem-header.shrink {
      max-height: 0;
    }
    .choose-problem-btns {
      font-family: inherit;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      .outlined-btn {
        min-width: 177px;
        margin-left: 1rem;
        outline: none;
        line-height: 1.5;
        padding-bottom: 2px;
        &.active:hover {
          border-color: #03294c;
        }
      }
    }
  }

  .report-service-wrapper {
    margin-top: 2rem;
    overflow: hidden;
    height: 186px;
    transition: all ease 0.7s;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    .report-service-text-box-wrapper {
      position: relative;
      margin-bottom: 1.5rem;
      textarea::placeholder {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.89;
        letter-spacing: normal;
        color: $marine-two;

      }
      .report-service-textarea {
        font-size: 16px;
        max-width: 562px;
        width: 100%;
        height: 117px;
        border-radius: 4px;
        background-color: $pale-grey;
        border: none;
        border-bottom: 1px solid $marine-two;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        resize: none;
        padding: 14px 16px;
      }
      .report-service-text-box-note {
        position: absolute;
        bottom: -10px;
        right: 87px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.86;
        letter-spacing: normal;
      }
    }
  }
  .report-service-wrapper.shrink {
    height: 0;
  }

  .btn {
    padding: 9px 40px;
    font-size: 18px;
  }

}

// success-popup
.rc-popup-wrapper-success {

  img.success-popup-img {
    position: relative;
    top: 4px;
  }

  .outlined-btn {
    min-width: 115px;
    padding: 9px 35px;

  }
  /deep/.modal-body {
    padding: 0;
  }

    height: 421px;
    border-radius: 9px;
    box-shadow: 0 2px 63px 0 rgba(0, 0, 0, 0.21);

  /deep/.pointer:hover {
    color: #343a40;
    opacity: 0.6;
  }

}

.msg-container {
  position: absolute;
  //left: 18px;
  //bottom: 0;
  padding-top: 5px;
  color: darkblue;
  font-size: 14px;
  font-weight: 300;
}

.share-branch-popup-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  box-shadow: 0 2px 63px 0 rgba(0, 0, 0, 0.21);
  display: flex;
  position: relative;


  .popup-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
  }

  .share-branch-popup-icon {
    position: relative;
    top: 15px;
  }

  .success-popup-content {
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: 24px;

    h1 {
      font-size: 25px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      font-family: inherit;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: center;
      font-family: inherit;
      width: 246px;
      margin: 0 auto;
    }
  }


  .flex-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      color: #03294c;
    }
  }
}

/deep/.modal-body {
  padding-top: 0;
}




@media (max-width: $mobile_view) {
  .choose-problem-btns {
    flex-wrap: wrap !important;
  }

  .outlined-btn {
    margin-left: 0 !important;
    margin-bottom: 15px;
  }

  .report-service-text-box-note {
    right: 9px !important;
  }

  .rc-popup-wrapper-success {
    .popup-content {
      max-width: 355px;
      padding: 1rem;
    }
    img.success-popup-img {
      top: 0;
    }
  }
}

