<div class="report-problem-wrapper" *ngIf="!isSendBtnClicked">
  <div class="image-wrapper" [ngClass]="{'shrink': reportBadServiceToggle}">
    <img src="{{'../../../assets/media/images/report-problem-img.svg' | imgUrl}}" alt="">
  </div>
  <div class="msg-wrapper" >
    <div class="msg-header">
      {{'reportProblemHeader' | rcTranslate}}
    </div>
    <div class="msg-text" [ngClass]="{'shrink': reportBadServiceToggle}">
      <span>{{'reportProblemMsg1' | rcTranslate}}</span> <br>
      <span>{{'reportProblemMsg2' | rcTranslate}}</span>
    </div>
  </div>

  <div class="choose-problem-wrapper">
    <div class="choose-problem-header" [ngClass]="{'shrink': reportBadServiceToggle}">
      {{'chooseProblem' | rcTranslate}}
    </div>
    <div class="choose-problem-btns">
      <button class="outlined-btn" [disabled]="reportBadServiceToggle" (click)="reportBadHours()">{{'badOpenHours' | rcTranslate}}</button>
      <button class="outlined-btn" [disabled]="reportBadServiceToggle" (click)="reportBadAddress()">{{'badAddress' | rcTranslate}}</button>
      <button class="outlined-btn" [ngClass]="{'active': reportBadServiceToggle}" (click)="reportBadServiceToggle = !reportBadServiceToggle">{{ 'badServices' | rcTranslate}}</button>
    </div>
  </div>
  <div class="report-service-wrapper" [ngClass]="{'shrink': !reportBadServiceToggle}">
    <div class="report-service-text-box-wrapper">
      <textarea placeholder="{{ 'serviceReportInputPlaceholder' | rcTranslate}}" maxlength="250" class="report-service-textarea" #serviceReportInput></textarea>
      <span class="report-service-text-box-note">{{ 'maxChars' | rcTranslate}}</span>
    </div>
    <div>
      <button class="btn" (click)="sendServiceReport(serviceReportInput)">{{'send' | rcTranslate}}</button>
    </div>
  </div>
</div>

<div [hidden]="!isModalOpen" class="rc-popup-wrapper-success" *ngIf="isSendBtnClicked">
<div class="share-branch-popup-wrapper">
  <div class="popup-content">
    <div class="share-branch-popup-icon">
      <img src="{{'../../../assets/media/images/success-popup-icon.png' | imgUrl}}" class="success-popup-img">
    </div>
    <div class="success-popup-content">
      <h2>{{'yourMsgReceived' | rcTranslate }}</h2>
      <p>{{'thanks' | rcTranslate }}</p>
    </div>
    <div class="flex-btn">
      <button class="outlined-btn" (click)="closeModal()" type="button">{{'yourWelcome' | rcTranslate}}</button>
    </div>
  </div>
</div>
</div>


