<div ng-if="checkBocValues" class="check-box-list">
  <div class="check-box-line" *ngFor="let checkBox of  filterList; let checkIndex = index">
    <lib-rc-checkbox [elementId]="'my_checkbox_index_' + checkIndex"
                     [control]="checkBox.formControl"
    >

       {{checkBox.value}}


    </lib-rc-checkbox>
  </div>
</div>

<div class="button-wrapper">
  <button  class="btn" (click)="submitCheckboxes()"><span class="btn-text">{{'startFilter'| rcTranslate}}</span>  </button>
</div>

