@import "../../../assets/scss/style";
.check-box-line{
  //margin-bottom: 22px;
  //margin-top: 19px;
  margin: 10px 0;
  padding: 0 20px;

  @media (min-width: $mobile_view + 1) {
    &:hover {
      color: #f1f6fb;
      background: #03294c;
      border-radius: 4px;

      /deep/
      label.custom-checkbox{
        color: #f1f6fb;

        .custom-control-description{
          color: #f1f6fb;
        }
        .custom-control-input[type="checkbox"] ~ .custom-control-indicator {
          border-color: #f1f6fb;
        }
      }
    }
  }

  &:first-child{
    margin-top: 0;
  }

  /deep/
  .custom-control {
    padding-right: 0;
  }
}
.check-box-list{
  margin-bottom: 22px;


}
.button-wrapper{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: $mobile_view) {
  .check-box-list{
    margin-bottom: 84px;
  }

  .btn {
    position: relative;
    right: 15px;
  }

  //.check-box-line {
  //  &:hover {
  //    color: #03294c;
  //    background: #f1f6fb;
  //  }
  //}


}
