@import "../../../assets/scss/style";
.check-box-line{
  margin-bottom: 22px;
  margin-top: 19px;
  &:first-child{
    margin-top: 0;
  }
}
.check-box-list{
  margin-bottom: 22px;


}
.button-wrapper{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: $mobile_view) {
  .check-box-list{
    margin-bottom: 84px;
  }
}
