<agm-map [latitude]="geoCoordinateX" [longitude]="geoCoordinateY" [zoom]="zoom">
<!--  <agm-marker-->
<!--    [latitude]="mapBranches.lat"-->
<!--    [longitude]="mapBranches.lng"-->
<!--    [iconUrl]="myLocationIcon">-->
<!--  </agm-marker>-->
  <ng-container *ngIf="hasAccessToMyLocation">
  <agm-marker
    [latitude]="geoCoordinateX"
    [longitude]="geoCoordinateY"
    [iconUrl]="myLocationIcon">
  </agm-marker>
  </ng-container>
<!--    <agm-marker *ngIf="!hasAccessToMyLocation" [latitude]="mapBranches.lat" [longitude]="mapBranches.lng" [iconUrl]="myLocationIcon"></agm-marker>-->
  <ng-container *ngFor="let branchPoint of branchesMapMarker; let i = index">
    <agm-marker
      [latitude]="branchPoint.geoCoordinateX"
      [longitude]="branchPoint.geoCoordinateY"
      [iconUrl]="branchIcon">
    </agm-marker>
  </ng-container>
</agm-map>
{{branchesMapMarker.length}}
