
<button
  *ngIf="isShowCircle && (this.branches.length > 1 || !this.mapBranches.hasLocationPermission)"
  (click)="searchOnArea()"
  class="search-in-area"
  id="Map-Search"
  type="button">
  חפש באזור זה
</button>
<agm-map
  dir="ltr"
  #agmMap
  [fitBounds]="(this.mapBranches.hasLocationPermission && this.branches.length > 1) || !this.mapBranches.isDefaultFilter ? true : false"
  [latitude]="geoCoordinateY" [longitude]="geoCoordinateX" [zoom]="zoom"
  [draggable]="true"
  (centerChange)="showCircle($event)">
  <!--  [latitude]="geoCoordinateY" [longitude]="geoCoordinateX" [zoom]="zoom" (mapClick)="grabCoords($event)" -->

  <ng-container *ngIf="hasAccessToMyLocation">
    <agm-marker
      [latitude]="geoCoordinateY"
      [longitude]="geoCoordinateX"
      [iconUrl]="myLocationIcon">
    </agm-marker>
  </ng-container>
  <!--  ALL BRANCHES FROM HOME COMP'-->
  <div *ngIf="!showSingleDisplay">
  <ng-container *ngFor="let branchPoint of branches; let i = index">
    <agm-marker
      (markerClick)="showSelectedMarkerOnBranchList(branchPoint.branchSummarize.branchNum,branchPoint.indexNoBankat)"
      (mouseOver)="branchPoint.isHovering = true"
      (mouseOut)="branchPoint.isHovering = false"
      [agmFitBounds]="this.mapBranches.hasLocationPermission ? true : false"
      [latitude]="branchPoint.coords.lat"
      [longitude]="branchPoint.coords.lng"
      [visible]="true"
      [iconUrl]="branchPoint.isBankat || branchPoint.isHovering ? bankatAndHoverIcon : branchIcon"
      [label]="branchPoint.isBankat ? {
      text: '&#8362;',
      color: 'white',
      fontFamily: 'inherit',
      fontSize: '18px',
      fontWeight: 'normal'
    } : {
      text: showSingleDisplay ? '1' : branchPoint.indexNoBankat + '',
      color: 'white',
      fontFamily: '',
      fontSize: '16px',
      fontWeight: 'normal'
      }">
      <agm-snazzy-info-window
        [maxWidth]="350"
        [maxHeight]="200"
        [shadow]="true"
        [latitude]="branchPoint.coords.lat"
        [longitude]="branchPoint.coords.lng"
        [isOpen]="false"
        [closeOnMapClick]="true"
        [closeWhenOthersOpen]="true"
        [openOnMarkerClick]="true">
        <ng-template>
          <app-branch-box-summarize [branchDataSummarize]="branchPoint.branchSummarize"></app-branch-box-summarize>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </ng-container>
  </div>
single branch display: THE SELECTED BRANCH
  <ng-container *ngIf="showSingleDisplay">
    <agm-marker
      (markerClick)="showSelectedMarkerOnBranchList(singleBranchDisplay.branchSummarize.branchNum)"
      (mouseOver)="singleBranchDisplay.isHovering = true"
      (mouseOut)="singleBranchDisplay.isHovering = false"
      [agmFitBounds]="this.mapBranches.hasLocationPermission ? true : false"
      [latitude]="singleBranchDisplay.coords.lat"
      [longitude]="singleBranchDisplay.coords.lng"
      [visible]="singleBranchDisplay.branchSummarize.branchNum == activeRoute.snapshot.queryParams.branch"
      [iconUrl]="singleBranchDisplay.isBankat || singleBranchDisplay.isHovering ? bankatAndHoverIcon : branchIcon"
      [label]="singleBranchDisplay.isBankat ? {
      text: '&#8362;',
      color: 'white',
      fontFamily: 'inherit',
      fontSize: '18px',
      fontWeight: 'normal'
    } : {
      text: singleBranchDisplay.indexForDisplay ? (singleBranchDisplay.indexForDisplay) : '1',
      color: 'white',
      fontFamily: '',
      fontSize: '16px',
      fontWeight: 'normal'
      }">
      <agm-snazzy-info-window
        [maxWidth]="350"
        [maxHeight]="200"
        [shadow]="true"
        [latitude]="singleBranchDisplay.coords.lat"
        [longitude]="singleBranchDisplay.coords.lng"
        [isOpen]="singleBranchDisplay.branchSummarize.branchNum == activeRoute.snapshot.queryParams.branch"
        [closeOnMapClick]="true"
        [closeWhenOthersOpen]="true"
        [openOnMarkerClick]="true">
        <ng-template>
          <app-branch-box-summarize [branchDataSummarize]="singleBranchDisplay.branchSummarize"></app-branch-box-summarize>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </ng-container>
  <agm-circle [radius]="350"
              [visible]="false"
              [fillColor]="'#DF1A1E'"
              [fillOpacity]="0.6"
              [latitude]="geoCoordinateY + 0.03"
              [longitude]="geoCoordinateX"
              [circleDraggable]="true"
              [editable]="false "
              [draggable]="true"
              (dragEnd)="getNewCenterOfCircle($event)">
  </agm-circle>
<!--
              [strokeColor]="'#DF1A1E'"
              [strokeOpacity]="0.8"
              [strokePosition]="'outside'"
              [strokeWeight]="15"
-->
</agm-map>
