agm-map {
  height: 500px;
  width: 700px;
}

/deep/.si-content-wrapper {
  width: 320px;
  direction: rtl;
}

/deep/.si-content {
  overflow: hidden;
}

/deep/[class*='si-wrapper'] {
  position: relative;
}

/deep/.si-float-wrapper {
  width: 300px;
}

/deep/.name-branch,
/deep/.num-branch {
  font-size: 20px;
}

/deep/.name-branch {
  font-weight: bold;
}

/deep/.address span,
/ddep/.location {
  font-size: 18px;
}

/deep/.open-today span span {
  font-size: 16px;
  font-weight: bold;
}






