<agm-map dir="ltr" [latitude]="geoCoordinateY" [longitude]="geoCoordinateX" [zoom]="zoom">
<!--  <agm-marker-->
<!--    [latitude]="mapBranches.lat"-->
<!--    [longitude]="mapBranches.lng"-->
<!--    [iconUrl]="myLocationIcon">-->
<!--  </agm-marker>-->
  <ng-container *ngIf="hasAccessToMyLocation">
  <agm-marker
    [latitude]="geoCoordinateY"
    [longitude]="geoCoordinateX"
    [iconUrl]="myLocationIcon">
  </agm-marker>
  </ng-container>
<!--    <agm-marker *ngIf="!hasAccessToMyLocation" [latitude]="mapBranches.lat" [longitude]="mapBranches.lng" [iconUrl]="myLocationIcon"></agm-marker>-->
  <ng-container *ngFor="let branchPoint of summarizedBranchesArr; let i = index">
    <agm-marker
      [latitude]="branchPoint.coords.geoCoordinateY"
      [longitude]="branchPoint.coords.geoCoordinateX"
      [iconUrl]="branchIcon"
      [label]="{
      color: 'white',
      fontFamily: '',
      fontSize: '14px',
      fontWeight: 'bold',
      text: (i+1)+''}">
      <agm-snazzy-info-window [maxWidth]="350" [maxHeight]="200" [shadow]="true" [closeWhenOthersOpen]="true" [openOnMarkerClick]="true">
        <ng-template>
          <app-branch-box-summarize [branchDataSummarize]="branchPoint">
          </app-branch-box-summarize>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </ng-container>
</agm-map>
{{summarizedBranchesArr.length}}
