agm-map {
  height: 460px;
  width: 532px;

  /deep/.gm-style {
    font:inherit;
  }
}

  /deep/.si-content-wrapper {
  width: 320px;
  direction: rtl;
    padding: 15px 25px 15px 5px;
}

/deep/.si-content {
  overflow: hidden;
}

/deep/[class*='si-wrapper'] {
  position: relative;
}

/deep/.si-float-wrapper {
  width: 300px;
}

/deep/.name-branch,
/deep/.num-branch {
  font-size: 16px;
}

/deep/.name-branch {
  font-weight: bold;
  max-width: 120px;
}

/deep/.address span,
/ddep/.location {
  font-size: 15px;
}

/deep/.open-today span span {
  font-size: 14px;
  font-weight: bold;
}






