@import "../../../assets/scss/style";
.search-in-area {
  position: absolute;
  z-index: 10;
  text-align: center;
  right: 190px;
  top: 35px;
  //width: 161.1px;
  //height: 44px;
  padding: 6px 20px 9px 20px;
  border-radius: 24px;
  box-shadow: 0 3px 6px 0 rgba(3, 41, 76, 0.05);
  background-color: #ffffff;
  border: none;
  color: #df1a1e;
  font-size: 20px;
font-family: inherit;
}



agm-map {
  height: 460px !important;

  /deep/.agm-map-container-inner {
    border-radius: 6px;
    margin-top: 17px;
  }

  /deep/.gm-style:not(agm-marker) {
    font: inherit;
  }

}

  /deep/.si-content-wrapper {
    direction: rtl;
    padding: 25px 20px;
    min-width: 316px;
    border: none !important;
    border-radius: 6px !important;
    box-shadow: 0 14px 24px 0 rgba(132, 169, 204, 0.24);


    /deep/.si-close-button {
      top: 10px !important;
      right: 294px !important;
      padding: 0;
      font-size: 0;
      width: 13px;
      height: 13px;
      background-image: url("../../../assets/media/icons/close-window.svg");
      background-repeat: no-repeat;
    }
}

  /deep/[class*='si-shadow-inner-pointer'] {
    box-shadow: none;
  }

  /deep/.si-pointer-border-top {
    bottom: 7px !important;
    border-top-color: #ffffff !important;
  }

  /deep/.si-frame {
    flex: unset !important;
  }

  /deep/.si-pointer-bg-top {
    top: -7px !important;
  }

/deep/.si-content {
  overflow: hidden;
}

/deep/[class*='si-wrapper'] {
  position: relative;
}

/deep/.si-float-wrapper {
  width: 300px;
}
.goto-branch-details-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-top: 15px;
  position: relative;
  bottom: 5px;
  .goto-branch-details {
    outline: none;
    border: none;
    background: #ffffff;
    font-size: 16px;
    font-weight: 400;
    color: #03294c;
  }
  img {
    transform: rotate(90deg);
    position: relative;
    top: -1px;
    width: 11px;
  }
}

/deep/.open-today {
  width: 275px
}

//@media (max-width: 1024px) and (min-width: $mobile_view + 1) {
//
//}

@media (max-width: 1024px) {
  .goto-branch-details-wrapper {
    bottom: 18px;

    img {
      top: 3px;
    }
  }
}


@media (max-width: $mobile_view) {
  agm-map{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
  }

  .search-in-area {
    right: 127px;
    width: 150px;
  }

  /deep/.branch-hours {
        .title-open-today {
          display: block;
        }
      }
 }

@media (max-width: 320px) {
  .search-in-area {
    right: 107px;
    width: 150px;
  }

  /deep/.agm-map-container-inner {
    margin-top: 0;
  }


}



