@import "../../../assets/scss/style";

.wrapper-branch-hours {

  display: flex;
  align-items: baseline;

}

.branch-details {
  color: $marine-two;

  .name-and-number {
    display: inline-block;
    font-size: 23.9px;
    max-width: 276px;


    span {
      margin-left: 5px;
    }

    .num-branch {
      font-weight: 100;
    }

    .separator {
      font-weight: 300;
    }

  }

  .wrapper-icon-accessibility {

    .icon-accessibility {
      display: inline-block;
      width: 21px;
      height: 20px;
      background-image: url('~src/assets/media/group-26.svg');
      background-repeat: no-repeat;
      position: relative;
      top: 3px;
    }
  }

  .address {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 300;
    margin-bottom: 2px;
  }

  .location {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .location-icon {
    margin-left: 10px;
  }
}

.hours {
  position: relative;
  display: flex;
  align-items: center;
}

/deep/
.icon-arrow {
  margin-right: 10px;
  position: relative;
  top: 14px;

}

.hours {
  /deep/
  .popover-wrapper.hours-list {
    top: 35px;
    right: 0;
    padding: 10px 15px;
    min-width: 330px;

    @media (max-width: $mobile_view) {
      padding-top: 0px;
      padding-bottom: 0;
    }

    &:after {
      margin-left: 5.5%;
      border-width: 7px
    }

    &:before {
      margin-left: 40%;
    }
  }
}

.drop-line {
  display: flex;
  color: $greyish-brown;
  font-size: 20px;
  padding: 15px;
  line-height: 1;
  font-weight: 300;
  border-bottom: 1px solid $pale-grey;

  &:last-child {
    border: none;
  }

  .drop-val {
    display: flex;
    align-items: center;

    .have-day-val {
      display: flex;
      align-items: center;

    }

    .closed {
      color: $lipstick-two;
    }
  }

  .drop-label {
    margin-left: 5px;
  }
}

@media (max-width: $mobile_view) {
  .list-wrapper {
    width: 100%;
    height: auto;
  }
  .branch-details {
    .wrapper-icon-accessibility {

      .icon-accessibility {
margin-right: 5px;
        width: 14px;
        height: 15px;
        background-size: cover;
      }
    }
    .name-and-number {
      font-size: 18px;

    }

    .address {
      font-size: 16px;

    }

    .location {
      font-size: 16px;
      margin: 5px 0 2px 0;
      .location-icon {
        float: right;
        margin-right: 0;
        margin-left: 5px;
        margin-top: 2px;
      }
    }
  }



  .hours {
    position: static;
    /deep/
    .popover-wrapper.hours-list {
      top: 97px;
      width: 100%;
      &:before{
        content: '';
      }
      &:after{
        content: '';
        margin-left: 73px;
      }
    }
  }


}
