<div class="branch-details">
  <div class="name-and-number">
    <span class="num-branch">{{branchDataSummarize.branchNum}}</span>
    <span class="name-branch">{{branchDataSummarize.branchName}}</span>
    <span class="separator">|</span>
    <span class="wrapper-icon-accessibility">
        <div class="icon-accessibility"></div>
      </span>

  </div>
  <div class="address"> <span>{{branchDataSummarize.address}}</span></div>
  <div *ngIf="haveLocation" class="location"><img class="location-icon" src="{{'icons/location.svg' | imgUrl}}">{{branchDataSummarize.distanceInKm | number:'1.0-1'}} ק"מ</div>
  <div class="hours">
    <div class="wrapper-branch-hours"  [ngClass]="{'withdropdown':branchDataSummarize.openAndCloseHours.openCurrentDay && isSingleDisplay}">
      <app-branch-hours (togglePopup)="dropClick()"  [hours]="branchDataSummarize.openAndCloseHours" [isSingleDisplay]="isSingleDisplay" ></app-branch-hours>
    </div>
    <div class="popover-wrapper hours-list" lib-rc-click-outside (clickOutside)="closeDropDown($event)"*ngIf="openHoursDrop" [ngClass]="{'slideDown':openHoursDrop}">
    <div *ngFor=" let dayHours of hoursList" class="drop-line">
      <span class="drop-label"> <span>{{'dropdownLabel' | rcTranslate}}</span> <span> {{dayHours.dayName}}:</span>
        </span>
      <span class="drop-val" >
        <span *ngIf="dayHours.openToday" class="have-day-val">
        <span *ngIf="dayHours.label.morning">
          <span> {{dayHours.label.morning}}</span>
        </span>

        <span *ngIf="dayHours.label.noon && dayHours.label.morning"> <div  class="icon-separation"></div></span>
        <span *ngIf="dayHours.label.noon">{{dayHours.label.noon}}</span>

        </span>
        <span *ngIf="!dayHours.openToday" class="closed">{{'closed'| rcTranslate}}</span>

      </span>
    </div>
    </div>
  </div>


</div>
