//.rc-popup-wrapper {
//  /deep/.modal-content {
//    width: 750px;
//    height: 378px
//  }
//  /deep/.modal-body {
//    padding: 0;
//  }
//  /deep/.close {
//    width: 100%;
//    text-align: left;
//    padding: 0 20px;
//    margin-top: -6px;
//    outline: none;
//  }
//}
.share-branch-popup-wrapper {
  width: 100%;
  height: 378px;
  border-radius: 9px;
  box-shadow: 0 2px 63px 0 rgba(0, 0, 0, 0.21);
  display: flex;


  .popup-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  //.close {
  //  width: 100%;
  //  text-align: left;
  //  padding: 0 15px;
  //}

  .share-branch-popup-icon {
    position: relative;
    top: 15px;
  }

  .share-branch-popup-content {
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: 24px;
  }

  .share-branch-popup-buttons {
    display: flex;
    width: 300px;
    height: 105px;
    justify-content: space-around;

    .flex-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button.email {
      background-image: url("../../../assets/media/icons/email-share.svg");
    }

    button.copy-link {
      background-image: url("../../../assets/media/icons/share-link.svg");
    }

    button.email,
    button.copy-link{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);
      border: none;
      background-color: #ffffff;
      //margin: 20px;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      }
    }

    .text-btn {
      font-family: inherit;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.81;
      letter-spacing: normal;
      text-align: center;
      padding: 10px 0;
    }
  }
}
