<lib-rc-popup-wrapper>
  <div class="share-branch-popup-wrapper">
    <button type="button" class="close"><img src="../../../assets/media/icons/close.svg"></button>
    <div class="share-branch-popup-icon">
      <img src="../../../assets/media/icons/share-branch.svg">
    </div>
    <div class="share-branch-popup-content">
      {{'shareBranchPopupTitle' | rcTranslate}}
    </div>
    <div class="share-branch-popup-buttons">
      <div class="flex-btn">
        <button type="button" class="email"></button>
        <p class="text-btn">{{'shareWithEmail' | rcTranslate}}</p>
      </div>
      <div class="flex-btn">
        <button type="button" class="copy-link"></button>
        <p class="text-btn">{{'copyLinkToShare' | rcTranslate}}</p>
      </div>
    </div>
  </div>
</lib-rc-popup-wrapper>

