<div class="hours-filter">
  <h2> {{'title' | rcTranslate}}</h2>

  <h4>{{'titleDays'|rcTranslate}}</h4>
  <div class="day-wrapper">
    <div *ngFor="let day of days " class="day-box" (click)="selectDay(day)" [ngClass]="{'selected':day.key === selectedDay}">
      <div class="text-to-crop-add"> {{day.label}}</div>
    </div>
  </div>

  <h4>{{'titleHours'|rcTranslate}}</h4>
  <div class="hours-wrapper">
    <div class="morning text-to-crop-add" [ngClass]="{'selected':'morning' === selectedHours}"  (click)="selectHours('morning')"><div>{{'openMorning' |rcTranslate}}</div></div>
    <div class="noon text-to-crop-add"  [ngClass]="{'selected':'noon' === selectedHours}"  (click)="selectHours('noon')" ><div>{{'openNoon'| rcTranslate}} </div></div>
  </div>
  <div class="btn-wrapper">
    <div class="btn text-to-crop-add" (click)="submit()">{{'startFilter' |rcTranslate}}</div>
    <div (click)="clear()" class="clean text-to-crop">{{'clean' |rcTranslate}}</div>
  </div>
  <button class="close-btn"  (click)="closePopOver()"></button>
</div>
