<perfect-scrollbar class="single-scroll"  [config]="config" *ngIf="!isMobile">
  <ng-container *ngTemplateOutlet="singleDispaly"></ng-container>
</perfect-scrollbar>
<ng-template  #singleDispaly>
  <div class="single-branch-display" >
    <div class="part-wrapper">
      <div class="selected-branch-header">
        <div class="col-12">
          <div class="row">
            <div class="branch-data">
              <div class="wrapper-icon"  >
                <div class="branch-icon" [ngClass]="{'bankat':dataBranchSelected.isBankat}">
                  <div class="icon-val" *ngIf="!dataBranchSelected.isBankat" >{{indexNoBankat}}</div>
                  <div class="icon-val" *ngIf="dataBranchSelected.isBankat"> ₪ </div>

                </div>
              </div>
              <app-branch-box-summarize  [isSingleDisplay]="true" [branchDataSummarize]="dataBranchSelected.branchSummarize"></app-branch-box-summarize>

            </div>
            <div class="share">
              <button class="share-btn" data-title="שיתוף" (click)="openShareBranchPopup = true"></button>

                <lib-rc-popup-wrapper class="rc-popup-wrapper" *ngIf="openShareBranchPopup" (closeCallback)="openShareBranchPopup = false">
                  <app-share-branch-popup
                    [branchName]="dataBranchSelected.branchSummarize.branchName"
                    [branchNum]="dataBranchSelected.branchSummarize.branchNum">
                  </app-share-branch-popup>
                </lib-rc-popup-wrapper>


            </div>
          </div>
        </div>

              <div *ngIf="isMobile" class="col-12 row-btn">
                <div class="row">
                  <div *ngIf="!dataBranchSelected.isBankat" class="btn white-btn " role="button">{{'order' |rcTranslate}}</div>
                  <div class="btn text-to-crop" (click)="onNavigate()">{{'navigate' | rcTranslate}}</div>
                </div>

        </div>
      </div>
    </div>
    <div class="part-wrapper services" [ngClass]="{'no-border':dataBranchSelected.isBankat}">
      <div class="wrapper-service-and-btn">
        <div class="selected-branches-services">
          <h1>{{'servicesTitle' | rcTranslate}}</h1>
          <div  class="service-list"   *ngFor="let service of dataBranchSelected.branchService | slice:start:end ">
            <span><img class="icon-service-list" src="{{'icons/service-list.svg' | imgUrl}}"></span>
            <span class="service-label">{{service.branchServiceTypeDescription}}</span>
          </div>
          <button *ngIf="end < dataBranchSelected.branchService.length" class="add-more link-underline" (click)="addMore()">{{'showMore' | rcTranslate}}</button>
        </div>
      </div>

    </div>

    <div class="part-wrapper" [ngClass]="{'no-border':dataBranchSelected.isBankat}" >
      <div class="selected-branch-data" *ngIf="!dataBranchSelected.isBankat">

        <div class="line-data copy" (click)="copyToClipboard(dataBranchSelected.phone)">

          <span class="icon phone-icon"></span>
          <span class="label">{{'phone'| rcTranslate}}</span>
          <span
            class="value aaa"
            data-toggle="tooltip"
            #phone>{{dataBranchSelected.phone}}</span>
          <span class="copy-icon tooltip" data-title="העתקת מספר"><img class="copy-to-clipboard-icon" src="{{'icons/copyToClip.svg' | imgUrl}}"></span>
        </div>
        <div class="line-data copy" *ngIf="dataBranchSelected.fax" (click)="copyToClipboard(dataBranchSelected.fax)">
          <span class="icon fax-icon"></span>
          <span class="label">{{'fax'| rcTranslate}}</span>
          <span class="value">{{dataBranchSelected.fax}}</span>
          <span class="copy-icon tooltip"  data-title="העתקת מספר"><img class="copy-to-clipboard-icon" src="{{'icons/copyToClip.svg' | imgUrl}}"></span>
        </div>
        <div class="line-data">
          <span class="icon manager-icon" ></span>
          <span class="label">{{'manager'| rcTranslate}}</span>
          <span class="value">{{dataBranchSelected.branchManagerName}}</span>
        </div>
        <div class="line-data">
          <div class="icon note-icon"></div>
          <div class="notes">
            <span class="label">{{'note'| rcTranslate}}</span>
            <span class="value">{{dataBranchSelected.comment}}</span>
          </div>

        </div>

      </div>
      <div class="selected-branch-buttons">
        <a href="https://login.bankhapoalim.co.il/ng-portals/rb/he/create-meeting" target="_blank" *ngIf="!dataBranchSelected.isBankat && !isMobile" class="rc-btn white-btn desktop">{{'order' |rcTranslate}}</a>

        <button class="worng-data" (click)="openReportproblem()">
         <span class="wrong-data-text">{{'worngData'|rcTranslate }}</span>
           <span class="go-back"> <span class="img-wrapper"><img src="{{'left.svg' | imgUrl}}" alt=""></span> </span>
      </button>
      </div>
    </div>
    <agm-map
      *ngIf="isMobile"
      [latitude]="dataBranchSelected.coords.lat"
      [longitude]="dataBranchSelected.coords.lng"
      [zoom]="14"
      [mapDraggable]="false"
      [streetViewControl]="false">
      <agm-marker
        [latitude]="dataBranchSelected.coords.lat"
        [longitude]="dataBranchSelected.coords.lng"
        [iconUrl]="dataBranchSelected.isBankat || dataBranchSelected.isHovering ? bankatAndHoverIcon : branchIcon">
      </agm-marker>
      <ng-container *ngIf="isMyLocationAccess">
        <agm-marker
          [latitude]="lat"
          [longitude]="lng"
          [iconUrl]="myLocationIcon">
        </agm-marker>
      </ng-container>
      </agm-map>



  </div>
</ng-template>
<div class="mobile-scroll" *ngIf="isMobile">
  <ng-container *ngTemplateOutlet="singleDispaly">
  </ng-container>
</div>


<lib-rc-popup-wrapper *ngIf="openPopup" (closeCallback)="openPopup = false" class="report-problem-popup-style">
  <app-report-problem-popup  (isModalOpen)="openPopup = false"   [branchName]="dataBranchSelected.branchSummarize.branchName"
                             [branchNumber]="dataBranchSelected.branchSummarize.branchNum"></app-report-problem-popup>
</lib-rc-popup-wrapper>
<!--[customClass]="'modal-lg'"-->
