@import "../../../assets/scss/style";

agm-map {
  height: 300px;
  width: 320px;

  /deep/.gmnoprint > div{
    display: none;
  }

  /deep/.agm-map-container-inner {
    margin: 10px auto !important;
    border-radius: 6px;
  }
}

.single-scroll {
  height: 427px;
  position: relative;
}

span.tooltip[title] {
  position: relative;
}

span.tooltip:hover:after {
  content: attr(data-title);
  position: absolute;
  right: -35px;
  top: 2.5em;
  width: 7em;
  padding: 2px 1px 4px 1px;
  background: white;
  color: #0a294c;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.single-branch-display {
  min-height: 427px;
  margin-right: 50px;
  background-color: $pale-grey;
  border-radius: 6px;

  .name-branch {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .part-wrapper {
    border-bottom: 0.3px solid rgba(10, 41, 76, 0.5);

    &:last-child {
      border-bottom: none;
    }

    &.no-border {
      border-bottom: none;
    }

    &.services {
      position: relative;

      .white-btn {
        line-height: normal;
        padding: 6px 16px;
        height: 36px;
      }
    }
  }

  .img-wrapper {
    border: none;
    background: #f1f6fb;
  }

  @supports (-moz-appearance:none) {
    .part-wrapper {
      border-bottom: 1.5px solid #EDECED;
    }
  }



  //@supports (ie11:none) {
  //  .part-wrapper {
  //    border-bottom: 1px solid #EDECED;
  //  }
  //}

  .selected-branch-header {


    padding: 18px;
    padding-right: 21px;

    .row {
      display: flex;
      justify-content: space-between;
    }

    .branch-data {
      display: flex;
      justify-items: baseline;
      //max-width: 350px;
    }

    .share {
      padding: 0;


      ///deep/
      .share-btn {
        padding: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        border-radius: 19.5px;
        border: solid 1px #03294c;
        height: 35px;
        width: 42px;
        background-image: url('~src/assets/media/share.svg');

        &:hover {
          border-color: #df1a1e;
          background-image: url('~src/assets/media/share-red.svg');
        }
      }
    }
  }

  .wrapper-service-and-btn {
    padding: 18px;
    display: flex;
    justify-content: space-between;

    .white-btn {
      font-size: 18px;
      &.desktop{
        position: absolute;
        top:12px ;
        left:15px;
      }
    }
  }

  .selected-branches-services {
    max-width: 280px;
    width: 100%;

    h1 {
      font-size: 20px;
      color: $marine-two;
    }
  ;

    .service-list {
      line-height: normal;
      display: flex;
      align-items: baseline;
      margin-top: 12px;


      .icon-service-list {
        position: relative;
        bottom: 2px;
        //margin: 0 8px;
        margin-top:3px;
        margin-right: 0;
        text-align: center;
        float: $default-start;
        transform: rotate(90deg);
      }

      .service-label {
        max-width: 90%;
        font-size: 18px;
        color: $marine-two;
        margin-right: 5px;
        font-weight: 300;
        width: 200px;
      }

      &:first-child {
        margin-top: 0;
      }

    }

    .add-more {
      border: none;
      background-color: transparent;
      font-weight: normal;
      color: $marine-two;
      margin-right: 26px;
      cursor: pointer;
      margin-top: 8px;
      font-size: 18px;
      font-weight: normal;
      text-decoration: underline;
    }
  }

  .selected-branch-data {
    padding: 18px;

    ul {
      padding: 0;
      margin: 0
    }

    .line-data {
      display: flex;
      align-items: center;
      margin-top: 0px;
      padding: 5px 15px;
      margin-right: -15px;

      &.copy {
        max-width: 317px;
        cursor: pointer;

        position: relative;

        .copy-icon {
          position: absolute;
          top: 0;
          left: 15px;
          opacity: 0;

          .copy-to-clipboard-icon {
            //width: 18px;
            position: relative;
            top: 3px;
            right: 4px;
          }
        }

        &:hover {
          border-radius: 16px;
          background-color: rgba(10, 41, 76, 0.08);

          .copy-icon {
            opacity: 1;
          }

        }
      }

      .icon {
        align-self: start;
        background-size: contain;
        margin-left: 13px;
        background-repeat: no-repeat;
        margin-top: 5px;

        &.phone-icon {
          width: 13px;
          height: 13px;
          background-image: url('~src/assets/media/phone-icon.svg');
        }

        &.fax-icon {
          width: 15px;
          height: 13px;
          background-image: url('~src/assets/media/fax-icon.svg');
        }

        &.manager-icon {
          width: 15px;
          height: 14px;
          background-image: url('~src/assets/media/manager-icon.svg');
        }

        &.note-icon {
          width: 16px;
          height: 16px;
          min-width: 16px;
          flex-shrink: 1;

          background-image: url('~src/assets/media/note-icon.svg');
        }
      }


      .label {
        line-height: 1;
        font-size: 18px;
        color: $marine-two;
        font-weight: normal;
        margin-left: 3px;
        padding-bottom: 3px;
      }

      .value {
        line-height: 1;
        font-size: 18px;
        color: $marine-two;
        font-weight: 300;
      }
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  .selected-branch-buttons {
    //padding-bottom: 30px;
    margin-right: 25px;
    margin-top: 0px;
    font-size: 18px;
    padding: 0 18px 30px 18px;
    display: flex;

    .rc-btn{
      margin-left: 30px;
      font-size: 18px;
      border-radius: 21.6px;
      box-shadow: 0 3px 5px 0 rgba(3, 41, 76, 0.05);
      background-color: $white;
      color: $marine-two;

      border: solid 1px transparent;
      padding: 7px 15px 10px 15px           ;
      font-family: inherit;
      font-weight: normal;
      text-align: center;
      line-height: normal !important;

      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      vertical-align: middle;
      display: inline-block;

      &:hover{
        color: #df1a1e;
        box-shadow: none;
      }
    }

    .btn {

    }

    .wrong-data-text {
      color: $marine-two;
      border: none;
      background-color: transparent;
      padding: 0;

      &:hover {
        color: $lipstick-two;
      }
    }

    .worng-data {
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;
    }

    .goto {
      font-size: 30px;
      color: $lipstick-two;
      margin-right: 13px;
    }
  }

  .back-to-results-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 42px;
  }

  .go-back {
    display: flex;
    align-items: center;
    margin-right: 9px;

    img {
      transform: rotate(90deg);
      position: relative;
      bottom: 1px;
    }
  }
}

// report-problem-popup

.report-problem-popup-style {
  /deep/ .modal-content {
    @media(min-width: $mobile_view + 1) {
      min-width: 753px !important;
    }

    /deep/ .close {
      //outline: none;
      font-weight: normal;
      font-size: 0;
      background-image: url("../../../assets/media/icons/close.svg");
      background-repeat: no-repeat;
      width: 26px;
      height: 26px;
      right: unset !important;
      left: 10px !important;
      top: 10px !important;
    }
  }

  .rc-popup-wrapper {
    /deep/.modal {
      max-height: 429px;
      overflow: hidden;
    }
    /deep/.modal-body {
      padding-top: 0 !important;
    }
  }

}

// share-branch-popup
.rc-popup-wrapper {
  /deep/ .modal-content {
    width: 753px;
    //width: 100%;
    height: 378px
  }

  /deep/ .modal-body {
    padding: 0 !important;
  }

  // DROPAL !!!!!!!!!!!!!!!!! ///
  /deep/.modal {

    @media(min-width: $mobile_view + 1) {
      max-height: 387px;
    }

    overflow: hidden;
  }
  //////////////////////////////

  /deep/ .modal-content {
    /deep/ .close {
      //outline: none;
      font-weight: normal;
      font-size: 0;
      background-image: url("../../../assets/media/icons/close.svg");
      background-repeat: no-repeat;
      width: 26px;
      height: 26px;
      right: unset !important;
      left: 10px !important;
      top: 10px !important;
    }
  }

  /deep/ .pointer:hover {
    color: #343a40;
    opacity: 0.6;
  }
}

// Tablet
@media (max-width: 1024px) and (min-width: $mobile_view + 1)  {

  .share {
    position: absolute;
    top: 0;
    left: 0;
  }

  .btn {
    margin-left: 12px !important;
    padding: 9px 25px !important;
  }

  .selected-branch-buttons {
    margin-right: 0 !important;
  }

  .single-branch-display {
    .wrapper-service-and-btn {
      .white-btn {
        &.desktop{
          left: 6px;
        }
      }
    }
  }

}


@media (max-width: $mobile_view) {

  .notes {
    position: relative;
    bottom: 2px;
  }
  .single-branch-display {
    .selected-branch-header {
      //padding-right: 25px;
      padding: 25px 10px;

      .share {
        position: absolute;
        left: 0px;
      }
    }
.btn{
  padding: 9px 30px 7px 30px !important;
}
    .service-label {
      font-weight: 300;
    }
.selected-branch-data {
      padding-right: 25px;



      .line-data {
        .label {
          font-size: 16px;
        }
        .value {
          font-size: 16px;
          display: inline-flex;
          max-width: 80%;
        }

        &.copy {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .wrapper-service-and-btn {
      padding-right: 25px;
    }

    .selected-branch-buttons {
      margin: 0;
      margin-right: 36px;
      //margin-bottom: 20px;
    }


  }

  .copy-icon {
    display: none;
  }
  .row-btn {
    margin-top: 30px;

    .row {
      display: flex;
      justify-content: space-between;
    }

  }
  .mobile-scroll {
    height: 427px;
    //overflow: auto;
    direction: ltr;

    .single-branch-display {
      direction: rtl;
      margin-right: 0;
    }
  }

  .rc-popup-wrapper {
    /deep/ .modal-dialog {
      margin-top: 74px;
    }

      ///deep/.close {
    //  left: 10px !important;
    //  top: 10px !important;
    //}
  }

  //.report-problem-popup-style {
  //  /deep/.close {
  //    left: 10px !important;
  //    top: 10px !important;
  //  }
  //}
  .rc-popup-wrapper {
    /deep/ .modal-content {
      max-width: 753px;
      width: 100%;
      height: 100%;
    }
    .modal-dialog {
      height: 90%;
    }
  }
}





