<perfect-scrollbar class="single-scroll"  [config]="config">
  <div class="single-branch-display">
    <div class="part-wrapper">
      <div class="selected-branch-header">
        <div class="branch-data">
          <div class="wrapper-icon">
            <div class="branch-icon">
              <div class="icon-val" >{{selectedIndex}}</div>

            </div>
          </div>
          <app-branch-box-summarize  [isSingleDisplay]="true" [branchDataSummarize]="dataBranchSelected.branchSummarize"></app-branch-box-summarize>
        </div>

        <div class="share">
          <div class=" btn">{{'share' |rcTranslate}}</div>
        </div>

      </div>
    </div>
    <div class="part-wrapper">
      <div class="selected-branches-services">
        <h1>{{'servicesTitle' | rcTranslate}}</h1>
        <div  class="service-list"   *ngFor="let service of dataBranchSelected.branchService | slice:start:end ">
          <span class="icon-separation"></span>
          <span class="service-label">{{service.branchServiceTypeDescription}}</span>
        </div>
        <div *ngIf="end !== dataBranchSelected.branchService.length" class="add-more" (click)="addMore()">{{'showMore' | rcTranslate}}</div>
      </div>
    </div>
    <div class="part-wrapper">
      <div class="selected-branch-data">

        <div class="line-data">
          <span class="icon phone-icon" ></span>
          <span class="label">{{'phone'| rcTranslate}}</span>
          <span class="value">{{dataBranchSelected.phone}}</span>
        </div>
        <div class="line-data">
          <span class="icon fax-icon" ></span>
          <span class="label">{{'fax'| rcTranslate}}</span>
          <span class="value">{{dataBranchSelected.fax}}</span>
        </div>
        <div class="line-data">
          <span class="icon manager-icon" ></span>
          <span class="label">{{'manager'| rcTranslate}}</span>
          <span class="value">{{dataBranchSelected.branchManagerName}}</span>
        </div>
        <div class="line-data">
          <span class="icon note-icon" ></span>
          <span class="label">{{'note'| rcTranslate}}</span>
          <span class="value">{{dataBranchSelected.comment}}</span>
        </div>

      </div>
      <div class="selected-branch-buttons">
        <span class="btn white-btn" role="button">{{'order' |rcTranslate}}</span>
        <span class="worng-data">
         <span class="wrong-data-text" role="button">{{'worngData'|rcTranslate }}</span>
      <span class="goto"> > </span>
      </span>

      </div>

    </div>

  </div>
</perfect-scrollbar>



