@import "../../../assets/scss/style";



#branch_id {
  /deep/
  lib-rc-switcher{

    .rc-switcher-wrapper {

      .rc-switcher-control {

          width: 58px;
          height: 30px;
          border-radius: 14.6px;
        label {

          border-color:$marine-two;
          &.switcher-indicator{
            background: $white;

            &:after {
              background: $marine-two;
              box-shadow: 0 2px 5px 0 rgba(3, 41, 76, 0.05);
            }
          }

        }
        input:checked + label{
          &:after{
            left:29px;
          }

        }


      }
    }
  }
}
.branch-box-wrapper{
  padding-right: 15px;




}
.list-wrapper{
  position: relative;
  width: 510px;
  overflow: hidden;
    /deep/
  .popover-wrapper{

    width: 335px;
    padding: 30px;
    left: 0px;
    top:60px;

  }
}
.branch-list-header{
  line-height: normal;
  display:flex ;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 0 28px;
  padding-bottom: 15px;
  font-family: Poalim;
  text-align: $default-start;
  font-size: 25px;
  color: $greyish-brown;

  .branch-result{
       font-size: 25px;
  }
  .hours{
    display: flex;
font-size: 20px;
    align-items: center;
    line-height: 20px;
}


}
.branch-list{
  height: 427px;
  position: relative;


  .branch-list-scroll{


    position: relative
  }
}

.back-to-results{
  font-size: 20px;
  color: $greyish-brown;
  margin-right: 12px;

  cursor: pointer;

}
.back-to-results-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 42px;
}
.go-back{
 display: flex;
  align-items: center;
  img{
    transform: rotate(90deg);
  }
}
.map-wrapper{
  margin-right: 25px;
  max-width: 619px;
  borde:1px solide $pale-grey
}
.img-wrapper{
  cursor: pointer;
  width: 16px;
  margin-right: 6px;

  img{
    width: 100%;
  }
;
}


