<div class="list-wrapper" >
  <div class="popover-wrapper  filter-days"   lib-rc-click-outside (clickOutside)="closeDropDown()"[ngClass]="{'slideDown' :showDaysHoursFilter}" >
    <app-hours-filer (close)="closeDropDown()"> </app-hours-filer>
  </div>
  <div class="popover-wrapper  no-location"   lib-rc-click-outside (clickOutside)="closePopupLocation()"[ngClass]="{'slideDown' :showNoLocation}" >
    <app-no-location-permissions (close)="closePopupLocation()" > </app-no-location-permissions>
  </div>


  <div *ngIf="showSelectedBranch" >
    <span  class="back-to-results-wrapper"(click)="backToResults()">
      <span class="go-back">   <div class="img-wrapper"><img [src]="arrow" alt=""></div> </span> <span class="back-to-results">{{'backToResults' |rcTranslate}}</span>
    </span>

    <app-single-branch-display  [dataBranchSelected]="branchSelectedDisplay"></app-single-branch-display>

  </div>
  <div *ngIf="!showSelectedBranch" >

    <div class="branch-list-header">
      <div class="branch-result">{{branchResultTitle}}</div>
      <div (click)="toggleDropDown($event)" class="hours">
        <span>{{'filterHours' | rcTranslate}} </span>
        <div class="img-wrapper"><img [src]="(filterByDay || filterByHours)?filterWithHours:filterWithNoHours" alt=""></div>

      </div>
    </div>
    <ng-container
      *ngIf="branchNewArrayFilter && branchNewArrayFilter.length; else notFound">
      <div class="branch-list" id="branch_id"  [ngClass]="{'hide-in-mobile' :hideListInMoBile}"  >
        <perfect-scrollbar class="branch-list-scroll"  [config]="config"  id="scoller">
          <div class="branch-box-wrapper" *ngFor=" let branch of  branchNewArrayFilter ;let i = index;" tabindex="0">
            <app-branch-box [branchIndex]="i"  (branchClick)="selectBranch(branch.branchSummarize.branchNum, branch.indexNoBankat)" [branchData]="branch" ></app-branch-box>
          </div>
        </perfect-scrollbar>
      </div>
    </ng-container>

    <ng-template #notFound>
      <div class="not-found-container">
        <img src="../../../assets/media/images/not-found.svg">
        <h4 class="oops">{{'opps' | rcTranslate}}</h4>
        <p>{{'notFound' | rcTranslate}}</p>
      </div>
    </ng-template>

    <div class="map-wrapper"></div>
  </div>

</div>


