<div class="list-wrapper">

  <div *ngIf="showSelectedBranch" >
    <span  class="back-to-results-wrapper"(click)="backToResults()">
      <span class="go-back"> < </span> <span class="back-to-results">{{'backToResults' |rcTranslate}}</span>
    </span>
    <app-single-branch-display [dataBranchSelected]="branchNewArrayFilter[branchSelectedIndex]" [selectedIndex]="branchSelectedIndex"></app-single-branch-display>

  </div>
  <div *ngIf="!showSelectedBranch" >

    <div class="branch-list-header">
      <div class="branch-result">{{'branchFound' | rcTranslate}}</div>
      <div class="hours">{{'filterHours' | rcTranslate}}</div>
    </div>
    <div class="branch-list" id="branch_id">
      <perfect-scrollbar class="branch-list-scroll"  [config]="config">
        <div *ngFor=" let branch of  branchNewArrayFilter ;let i = index;">
          <app-branch-box [branchIndex]="i"  (branchClick)="selectBranch($event)" [branchData]="branch"></app-branch-box>
        </div>
      </perfect-scrollbar>
      <lib-rc-switcher [control]="formControl" [elementId]="'mySwitcherID'">

      </lib-rc-switcher>




    </div>

    <div class="map-wrapper">

    </div>
  </div>

</div>


