@import "../../../assets/scss/style";

/deep/
.rc-popup-wrapper .modal-dialog .modal-content .close.pointer{
  left: 15px;

}
.no-location{
  left:15px;
top:37px;
  box-shadow: 0 14px 34px 1px rgba(10, 41, 76, 0.16);
  background-color: $white;
  width: 461px;
  max-height: 288px;
  text-align: center;
  padding: 1rem 2rem;
  border:none;
  position: absolute;
  z-index: 9;
  &:after{
  content: none;
}
  &:before{
    content: none;
  }
}
.list-wrapper{
  position: relative;



  &.slideDown{
    height: 335px;
  }
    /deep/
  .popover-wrapper.filter-days{

    width: 335px;
    padding: 30px;
    left: 0px;
    top:0px;
      &:before{
        content:none ;
        border-width: 6px;
      }
      &:after{
        content:none ;
        border-width: 6px;
      }
  }
  .not-found-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 70px;
  }
  .oops {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: inherit;
    font-size: 25px;
    color: $black-light;
  }
  p {
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    font-weight: 300;
    color: $black-light;
  }
}
.branch-list-header{
  line-height: normal;
  display:flex ;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding-right:0px;
  padding-bottom: 15px;
  font-family: Poalim;
  text-align: $default-start;
  font-size: 25px;
  color: $greyish-brown;

  .branch-result{
       font-size: 25px;
  }
  .hours{
    position: relative;
    cursor: pointer;
    display: flex;
font-size: 20px;
    align-items: center;
    line-height: 20px;
    height: 27px;
}
  lib-rc-switcher{
    display: none;
  }

}
.branch-list{
  height: 427px;
  position: relative;


  .branch-list-scroll{


    position: relative
  }
}

.back-to-results{
  font-size: 20px;
  color: $greyish-brown;
  margin-right: 12px;

  cursor: pointer;

}
.back-to-results-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 42px;
}
.go-back{
 display: flex;
  align-items: center;
  img{
    transform: rotate(-90deg);
  }
}
.map-wrapper{
  margin-right: 25px;
  max-width: 619px;
  borde:1px solide $pale-grey
}
.img-wrapper{
  cursor: pointer;
  width: 16px;
  margin-right: 6px;

  img{
    width: 100%;
  }
;
}


@media (max-width: 770px) {
  .no-location{
#{$default-end}: 0;
    width: 100%;
    max-height: 999px;
  }
.branch-container{
  padding-right: 0;
  padding-left: 0;
}
  .back-to-results-wrapper{

    margin-#{$default-start}: 0;
  }
.branch-list{
      overflow: auto;
      direction: ltr;

    .branch-box-wrapper{
      direction: rtl;
    }

  }
  .hide-in-mobile{
      display: none;
    }
  .list-wrapper{
    width: 100%;
    height: auto;
    .popover-wrapper.filter-days {
      width: 100%;
    }
  }
  .branch-list-header{
    flex-direction: column;
    align-items: start;
    position: relative;
    .hours{
      position: static;
    }

  }

}
