<div *ngIf="servicesLoaded">
  <div>
    <div class="header-bg">
      <div class="branches-header container">
        <div class="branch-title title"> {{'branchesTitle' | rcTranslate}}</div>

        <app-search></app-search>
        <div class="choose-title title">{{'chooseTitle' | rcTranslate}} </div>
        <app-branch-filters></app-branch-filters>
      </div>
    </div>
<div class="bg-branches">
  <div class="branch-container container">
    <div>

      <div class="branch-map row" >
        <lib-rc-switcher [control]="formControl" [elementId]="'mySwitcherID'">

        </lib-rc-switcher>
        <app-branch-list class="col-lg-6 col-sm-12 col-12 " [hideListInMoBile]="formControl.value"
                         *ngIf="branchNewArrayFilter"
                         [branchNewArrayFilter]="branchNewArrayFilter"
                         [branchResultTitle]="branchResultTitle">
        </app-branch-list>
        <ng-container>

          <app-map class="col-lg-6 col-sm-12 col-12 show-map"  [ngClass]="{'show-in-mobile' :formControl.value}"  [branches]="branchNewArrayFilter" *ngIf="branchNewArrayFilter " [branches]="branchNewArrayFilter"></app-map>

        </ng-container>
      </div>
    </div>


  </div>
</div>

  </div>
</div>




