<div *ngIf="servicesLoaded" class="poalim-branches-container">
  <div>
    <div class="header-bg">
      <div class="branches-header container">
        <div *ngIf="displayTitle" class="branch-title title"> {{'branchesTitle' | rcTranslate}}</div>

        <app-search (onMobileSearch)="onMobileTitleSearch($event)"></app-search>
        <div class="choose-title title">{{'chooseTitle' | rcTranslate}} </div>
        <app-branch-filters></app-branch-filters>
      </div>
    </div>
<div class="bg-branches" [ngClass]="{'background-no-results': branchNewArrayFilter.length === 0}">
  <div class="branch-container container">
    <div>
      <div class="branch-map row">
        <lib-rc-switcher  *ngIf=" branchNewArrayFilter.length > 0" [control]="formControl" [elementId]="'mySwitcherID'">
        </lib-rc-switcher>
        <app-branch-list class="col-lg-6 col-sm-12 col-12 tablet-scroll" [hideListInMoBile]="formControl.value"
                         *ngIf="branchNewArrayFilter"
                         [branchNewArrayFilter]="branchNewArrayFilter"
                         [branchResultTitle]="branchResultTitle">
        </app-branch-list>
        <ng-container>

          <app-map class="col-lg-6 col-sm-12 col-12 show-map" (goToBranchDetails)="toggleMobileSwitcher()"  [ngClass]="{'show-in-mobile' :formControl.value, 'hide-in-mobile': !formControl.value}"  [branches]="branchNewArrayFilter" *ngIf="branchNewArrayFilter"></app-map>

        </ng-container>
      </div>
    </div>


  </div>
</div>

  </div>
</div>




