@import "../../../assets/scss/style";
.header-bg{
  background-color:$pale-grey;
}
.bg-branches{
  background-color: $white;
}
.branches-header {


  padding-top: 10px;
  padding-bottom: 55px;
.title{
  text-align: center;
  margin-bottom: 17px;
  font-weight: normal;
  line-height: normal;
  color: $greyish-brown;
}
  .branch-title{

      font-size: 50px;



  }
  .choose-title{
    font-size: 20px;
    margin-top: 32px;
  }
}
.branch-container{
  padding-top: 46px;
  margin-bottom: 200px;
}

.branch-map {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $mobile_view) {
  .branches-header {
    padding:100px  0;
  }

}
