@import "../../../assets/scss/style";
//.show-map{
//  padding-#{$default-end}: 0px;
//}

.padding-mobile {
  padding: 0 20px;
}

.poalim-branches-container{
  font-size: 18px;

  .rc-popup-wrapper.modal{
    width: 100%;
    max-height: 100%;
    height: 100%;
    background: none;

    .modal-content{
      padding: 0;
    }
  }

  span {
    font-size: inherit;
  }
}

.header-bg {
  background-color: $pale-grey;
}

.bg-branches {
  background-color: $white;
}

.branches-header {
  padding-top: 10px;
  padding-bottom: 55px;

  .title {
    text-align: center;
    margin-bottom: 17px;
    margin-top: 31px;
    font-weight: normal;
    line-height: normal;
    color: $greyish-brown;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    //line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
  }

  .branch-title {
    .title {
      text-align: center;
      margin-bottom: 10px;
      font-weight: normal;
      line-height: normal;
      color: $greyish-brown;
    }

    &.branch-title {

      font-size: 50px;


    }

    .choose-title {
      font-size: 20px;
      margin-top: 32px;
    }
  }
}

.branch-container {
  padding-top: 46px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.branch-map {
  display: flex;
  justify-content: space-between;

  lib-rc-switcher {
    display: none
  }
}

@media (max-width: $mobile_view) {
  .choose-title{
    margin-top: 10px;
  }
  .branch-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-top: 0;
    margin-bottom: 0;
  }

  .background-no-results {
    background-color: $pale-grey;
  }

  app-map {
    visibility: hidden;

    &.show-in-mobile {
      visibility: visible;
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }

    &.hide-in-mobile {
      position: absolute;
      right: -1000px;
    }


  }

  .branch-map {
    position: relative;
    flex-direction: column;

    lib-rc-switcher {
      display: block;
      position: absolute;
      top: 0;
      z-index: 1;
      #{$default-end}: 15px;

    }
  }
  app-map {
    width: 100%;
  }
  .branches-header {
    padding-bottom: 35px;
    .branch-title {
      font-size: 35px;
    }

  }


}

@media (max-width: 1024px) {
  //.branch-map {
  //  //  app-branch-list.tablet-scroll {
  //  //    overflow-y: scroll;
  //  //    overflow-x: hidden;
  //  //  }
  //  //}
}
