<div class="filter-box-cointener">
  <div class="filter-box-wrapper">
    <lib-rc-popup-wrapper (closeCallback)="closePopup()" *ngIf="openPOPup" [customClass]="'full-width full-height'">
      <div closeButton class="close-btn"></div>
    <app-general-popup><app-check-box-filter (valueChange)="popupSelected()" [filterList]="checkBoxValues"></app-check-box-filter></app-general-popup>
    </lib-rc-popup-wrapper>
    <div class="filter-box" [ngClass]="{'filterActive':arrayOfActiveFilterIds.indexOf(filter.serviceType) != -1}"
         (click)="toggleFilter(filter.serviceType)" *ngFor="let filter of  branchFiltersWithIcon ; let i = index" role="button" tabindex="0">

      <div class="wrapper-icon-filter">
        <div class="icon-filter" [ngClass]="'cube-'+ i">

        </div>
      </div>
      <div>
        <div class="label-wrapper"> {{filter.serviceLabel}}</div>
      </div>


    </div>
  </div>
  <div class="filter-btn" [ngClass]="{'slideDown':openDropDown}"  (click)="togglePluse($event)">
    <div class="badge-btn" *ngIf="dropDownCheckLength"> <span class="badge-btn-num">{{dropDownCheckLength}}</span></div>
    <div  class="icon-filter-btn"></div>
  </div>
  <div  ng-if="checkBoxValues" [ngClass]="{'slideDown':openDropDown}" class="popover-wrapper more-services"   lib-rc-click-outside (clickOutside)="closeDropDownServices()">
    <app-check-box-filter (valueChange)="dropDownSelected()" [filterList]="checkBoxValues"></app-check-box-filter>

  </div>



  <div>

  </div>

</div>














