<div class="filter-box-cointener container">
  <div class="filter-box-wrapper">

    <div class="filter-box" [ngClass]="{'filterActive':arrayOfActiveFilterIds.indexOf(filter.id) != -1}"
         (click)="toggleFilter(filter.id)" *ngFor="let filter of  branchFiltersWithIcon ; let i = index">

      <div class="wrapper-icon-filter">
        <div class="icon-filter" [ngClass]="'cube-'+ i">

        </div>
      </div>
      {{filter.text}}
    </div>
  </div>
  <div class="filter-btn" [ngClass]="{'slideDown':openDropDown}"  (click)="toggleDropDown()">
    <div class="badge-btn"> <span class="badge-btn-num">{{dropDownCheckLength}}</span></div>
    <div  class="icon-filter-btn"></div>
  </div>
  <div  ng-if="checkBoxValues" [ngClass]="{'slideDown':openDropDown}" class="filters-list-wrapper">
    <app-check-box-filter (valueChange)="dropDownSelected()" [filterList]="checkBoxValues"></app-check-box-filter>

  </div>



  <div>

  </div>

</div>














