@import "../../../assets/scss/shared_param";
@import "../../../assets/scss/colors";

.overlay {
  position: fixed;
  top: 0;
  #{$default-end}: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(47, 47, 67, 0.0); /*dim the background*/
  transition: all .4s ease;
}
.overlay.on {
  background-color: rgba(47, 47, 67, 0.4); /*dim the background*/
  z-index: 100;
}
.search-wrapper {
  position: relative;
  border: 1px solid $greyish-brown;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 1rem 2rem;
  background: $white;
  width: 100%;
  max-width: 749px;
  margin: 0 auto;

  &.focused {
    z-index: 101;
  }

  /deep/
  .ng-dropdown-panel .ng-dropdown-panel-items{
    max-height: 380px !important;
  }
  /deep/
  .autocomplete-search {
    margin-bottom: 0;
    .ng-select-container {
      flex-flow: row-reverse;

      .ng-clear-wrapper {
        margin-#{$default-end}: 1rem;
        margin-top: 1px;
        position: relative;
        right: 5px;
        .ng-clear {
          display: none;
        }
      }
      .ng-clear-wrapper:after {
        position: absolute;
        top: 2px;
        bottom: 0;
        #{$default-end}: 0;
        #{$default-start}: 0;
        content: "\2573";
        font-family: Segoe UI Symbol;
        font-size: 1rem;
        color: black;
        line-height: 1.4;
        text-align: center;
      }
      .ng-value-container {
        padding-top: 2px;
        .ng-value {
          font-size: 20px;
          color: $marine-two;
          margin-top: -0.4rem;
        }
        .ng-placeholder {
          font-size: 20px;
          font-weight: 300;
          line-height: 1.3;
          transition: all .4s ease;

        }
        .ng-input {
          width: 95%;
          input {
            color: $marine-two;
            font-size: 20px;
            line-height: 1;
            margin-top: -.4rem;
            position: relative;
            bottom: 1px;
          }
        }
      }
    }
    .ng-dropdown-panel {
      margin-top: 1.7rem;
      color: #0a294c;
      background-color: $white;
      border-radius: 9px;
      box-shadow: 0 2px 63px 0 rgba(0, 0, 0, 0.21);
      padding: .3rem;
      #{$default-end}: 0;
      .ng-option {
        border-radius: 4px;


        .option-wrapper {
          padding: 1rem 1rem 1rem 0.1rem;
          border-radius: 4px;
          font-size: 18px;
          font-weight: lighter;
          //transition: all .4s ease;
          .highlighted {
            font-weight: bold;
            //font-size: 20px;
            text-decoration: none;
          }
          &>div>div.row {
            width: 100%;
          }
          .distance-wrapper {
            text-align: $default-end;
            font-size: 1.1rem;

            .location-icon {
              height: 1rem;
              margin-bottom: 0.1rem;
              margin-#{$default-end}: 0.2rem;
            }
          }
        }

      }
      .ng-option:hover {
        background: $marine-two;
        color: $white;
      }
      .ng-option-marked {
        background: $marine-two;
        color: $white;
      }
    }
  }

  /deep/.ng-option-disabled {
    color: #df1a1e;
    font-weight: 300;
    background-image: url("../../../assets/media/icons/no-results.svg");
    background-repeat: no-repeat;
    background-position-x: 62%;
    margin: 0 auto;
    text-align: center;
  }

  .search-btn-wrapper {
    position: absolute;
    #{$default-end}: -1px;
    top: -2px;
    z-index: 1002;

    .search-btn {
      background-color: $lipstick-two;
      border: none;
      height: 3.9rem;
      width: 3.9rem;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      transition: all .4s ease;
      cursor: not-allowed;
      .search-btn-icon {
        padding: .5em;
        position: relative;
        right: 2px;
      }
    }
    .search-btn.cant-click {
      background-color: $greyish-brown;
      opacity: 0.5;

    }
    .search-btn.can-click {
      opacity: 1;
      cursor: pointer;
    }
  }

  .distance {
    margin-right: 10px;
  }

}

.search-wrapper.focused {
  /deep/
  .ng-placeholder {
    display: none;
  }
}

.search-wrapper.no-results {
  border: 1px solid #df1a1e;
}

.search-wrapper {
  &.margin-mobile-search {
    box-shadow: 0 2px 7px 0 rgba(10, 41, 76, 0.2), 0 0 2px 0 rgba(10, 41, 76, 0.13);
    position: relative;
    //z-index: 102;
  }
  &.no-results {
    /deep/
    .ng-dropdown-panel {
      padding: 15px;
    }
    .autocomplete-search {
      /deep/.ng-select-container {
        .ng-value-container {
          .ng-input {
            input {
              color: #df1a1e;
              font-weight: 300;
            }
          }
        }
      }
      .ng-select-container {
        .ng-clear-wrapper:after {
          color: #df1a1e;
        }
      }
    }
  }
}


.distance-padding {
  padding-left: 0;
}
 @media (max-width: $mobile_view) {
   .search-wrapper {
     .address-search-mobile-wrapper {
       max-width: 165px;
       width: 100%;
       .address-search-mobile {
         white-space: initial;
       }
     }
     &.margin-mobile-search {
       //margin-top: 40px;
       position: relative;
       bottom: 150px;
       border: none;
       box-shadow: 0 2px 7px 0 rgba(10, 41, 76, 0.2), 0 0 2px 0 rgba(10, 41, 76, 0.13);
     }


     .autocomplete-search{
       /deep/
       .ng-select-container {
         .ng-value-container {
           padding-top: 2px;
           .ng-placeholder {
             font-size: 18px;
             line-height: normal;
           }
         }
       }
     }
     /deep/.ng-option-disabled {
       background-position-x: 75%;
     }
     .search-btn-wrapper {
       top: 0;
       .search-btn {
         height: 2.9rem;
         width: 2.9rem;
         padding: 0;
       }
     }
   }
   //.ng-option {
   //  .option-wrapper {
       .distance-wrapper {
         .location-icon {
           margin-left: 0.2rem;
           //margin-right: 2rem;
         }
       }
   //  }
   //}
 }





@media only screen and (max-width: $mobile_view) {
  .overlay{
    background-color: rgba(255, 255, 255, 0.0); /*dim the background*/
    &.overlay.on {
      background-color: rgba(255, 255, 255, 1); /*dim the background*/
  }
  }
   .search-wrapper{
     padding: 0.5rem 0;
     height: 48px;
     padding-right: 7px;
     /deep/
     .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{
       left: auto;
     }
 /deep/
   .ng-select-container {
   padding: 0 1rem;
 }     /deep/
     .autocomplete-search .ng-dropdown-panel{

          width: calc(100% + 30px);
          margin-right: -15px;
          margin-left: -15px;

       padding: 0;
     }
     /deep/
     .autocomplete-search .ng-dropdown-panel .ng-option .option-wrapper{
       padding: 1rem ;
       border-bottom: 1px solid #525252;
     }
     /deep/
     .autocomplete-search .ng-dropdown-panel{
       box-shadow: none;
     }
   }


}
