<!--<span *ngIf="filteredItems && openDropdown"> CURRENT ITEMS {{filteredItems.length}}</span>-->
<div class="overlay" [ngClass]="{'on' : openDropdown}"></div>
<div *ngIf="openDropdown && isMobile" class="close-btn" (click)="closeDropDown()"></div>
<div class="search-wrapper" [ngClass]="{
                              'focused' : searchFocused || selectedItem,
                              'margin-mobile-search': openDropdown,
                              'no-results':  filteredItems && filteredItems.length === 0 &&  openDropdown
                             }">
  <ng-select [(ngModel)]="selectedItem" #ngSelectAutoComplete
             disable-backspace-reset
             [items]="items"
             class="autocomplete-search"
             bindLabel="nameLabel"
             bindValue="name"
             placeholder="{{'placeInputSearch' | rcTranslate}}"
             notFoundText="{{'autocompleteNoResults' | rcTranslate}}"
             [markFirst]="true"
             [closeOnSelect]="true"
             [searchFn]="searchFn"
             [isOpen]="openDropdown"
             (search)="onSearch($event)"
             (close)="onClose()"
             (focus)="onFocus($event)"
             (clear)="onClear()"
             (blur)="onBlur()"
             (change)="onChange($event)">
    <ng-template ng-label-tmp let-item="item">
      <div *ngIf="item.type == 'city'">
        <span>{{item.name}}</span>
      </div>
      <div *ngIf="item.type == 'branch'">
        <span> {{item.addressToDisplay}}</span>
      </div>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
<!--      <img src="../../../assets/media/icons/no-results.svg">-->
      <!-- todo: add the icons and complete the template according to city/branch -->
      <div *ngIf="shouldShow(item)"
           class="option-wrapper"
           (mouseenter)="item.optionMouseOver = true"
           (mouseleave)="item.optionMouseOver = false">
        <div *ngIf="item.type == 'city'">
          <div class="row">
            <div class="col-9">
              <div [ngOptionHighlight]="search">{{item.name}}</div>

            </div>
            <div class="col-3">
              <div class="distance-wrapper">
                <span>{{'city' | rcTranslate}}</span>

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="item.type == 'branch'">
          <div class="row">
            <div class="col-8 col-sm-9">
              <div class="address-search-mobile-wrapper"><span class="address-search-mobile" [ngOptionHighlight]="search">{{item.addressToDisplay}}</span></div>

            </div>
            <div class="col-4 col-sm-3 distance-mobile" *ngIf="true">
              <div class="distance-wrapper"  *ngIf="mapSEervice.hasLocationPermission">
                <img class="location-icon" *ngIf="!item.optionMouseOver" src="../../../assets/media/icons/location.svg"
                     alt="">
                <img class="location-icon" *ngIf="item.optionMouseOver"
                     src="../../../assets/media/icons/location-white.svg" alt="">

                <span class="distance">
                {{item.kmToDisplay}} {{ 'km' | rcTranslate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-select>
  <div class="search-btn-wrapper">
    <button class="search-btn" #searchButton
            (click)="doSearch(ngSelectAutoComplete)"
            [disabled]="!openDropdown && !selectedItem"
            [ngClass]="{
            'can-click': openDropdown || selectedItem,
            'cant-click': searchTerm && searchTerm.length < 3}">
      <img class="search-btn-icon" src="../../../assets/media/icons/search-white.svg" alt="">
    </button>
  </div>
</div>

