/* Poalim-Regular */
@font-face {
  font-family: 'Poalim';
  src: url('~src/assets/fonts/Poalim-Regular.eot'), /* IE9 Compat Modes */
  url('~src/assets/fonts/Poalim-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Poalim-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: normal;
}

/* Poalim-Light */
@font-face {
  font-family: 'Poalim';
  src: url('~src/assets/fonts/Poalim-Light.eot'), /* IE9 Compat Modes */
  url('~src/assets/fonts/Poalim-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Poalim-Light.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 300;
}

/* Poalim-Bold */
@font-face {
  font-family: 'Poalim';
  src: url('~src/assets/fonts/Poalim-Bold.eot'), /* IE9 Compat Modes */
  url('~src/assets/fonts/Poalim-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('~src/assets/fonts/Poalim-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: bold;
}
