@mixin lhCrop($line-height) {
  &:before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}
.text-to-crop-add {

  @include lhCrop(1.2);
  //line-height: 1.2
}
.close-btn {
  position: absolute;
  #{$default-end}: 1rem;
  top: 1rem;
  border: none;
  background: none;
  z-index: 111;
}
.close-btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\2573"; /* use the hex value here... */
  font-size: 10px;
  color: black;
  line-height: 1;
  text-align: center;
}
lib-rc-switcher{

  .rc-switcher-wrapper {

    .rc-switcher-control {

      width: 58px !important;
      height: 30px;
      border-radius: 14.6px !important;
      label {
        background-image: url('~src/assets/media/blue-map.svg');
        background-repeat: no-repeat;
        background-position: 82% center;
        border-color:$marine-two !important;
        &.switcher-indicator{
          background-color: transparent;
          left: 15px !important;
          top: 23px !important;

          &:after {
            background-color: $marine-two !important;
            box-shadow: 0 2px 5px 0 rgba(3, 41, 76, 0.05);
            background-image: url('~src/assets/media/white-burger.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            left: -1px !important;
          }
        }

      }
      input:checked + label{
        background-color: transparent !important;
        background-image: url('~src/assets/media/blue-burger.svg');
        background-position: 18% center;
        &:after{
          left:28px !important;
          background-image: url('~src/assets/media/white-map.svg') !important;
        }

      }


    }
  }
}
.wrapper-icon {

  padding-left: 24px;
  margin-top: 15px;

  .branch-icon {
    text-align: center;
    float: $default-start;
    width: 26px;
    height: 26px;
    background: $lipstick-two;;
    border-radius: 5px;
    transform: rotate(45deg);
    &.bankat{
      background: $marine-two;
    }

    .icon-val {
      color: $white;
      transform: rotate(-45deg);
      position: relative;
      top: -1.5px;
      right: 1px;
    }
  }

}

.custom-control {
  display: flex;
  color: white;
  padding-left: 0 !important;

  &.custom-checkbox {
    display: flex;
    align-items: center;
    color: #0a294c;
    //&:hover {
    //  background: #0a294c;
    //}

    .custom-control-description {
      margin-#{$default-start}: 13px;
      font-size: 20px;
      color: #03294c;
      font-weight: 300;
      width: 100%;
      padding-bottom: 6px;
      text-align: right;
      @media (min-width: $mobile_view + 1) {
        &:hover {
          color: #f1f6fb;
        }
      }
    }

    .custom-control-input[type="checkbox"] ~ .custom-control-indicator {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: solid 1px $marine-two;
      background-color: $white;
      &:hover {
        border-color: $white;
      }
    }

    .custom-control-input[type="checkbox"]:checked ~ .custom-control-indicator {
      background-color: $marine-two;
      background-image: url('~src/assets/media/check.svg');
      background-position: center;
      background-repeat:no-repeat;
    }


  }


}

.rc-popup-wrapper {
  /deep/
  .modal-dialog {
    max-width: 752px;
    &.full-height{
      app-general-popup{
        height: 100%;
        .general-popup-wrapper{
          height: 100%;
          .general-popup-content{
            height: 100%;
            .error-popup-wrapper{
              height: 100%;
            }
            app-check-box-filter{
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }
        }
      }
    }
    &.full-width {
      height: 100%;
      margin: 0;
      /deep/
      .modal-content {
        border: none;
        border-radius: inherit;
        height: 100%;
      }

    }
  }

}

.icon-separation {

  margin: 0 8px;
  margin-top:3px;
  text-align: center;
  float: $default-start;
  width: 4px;
  height: 4px;
  background: $marine-two;;

  transform: rotate(45deg);


}
.btn {
  @include lhCrop(1.2); //line-height: 1.2
  cursor: pointer;
  border-radius: 21.5px;
  border: solid 1px $blue-btn;
  padding: 7px 40px 9px 40px !important;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: $blue-btn;
  line-height: normal !important;
  box-shadow: 0 3px 6px 0 rgba(3, 41, 76, 0.05);
  &:hover{
    border: solid 1px $lipstick-two;
    color: $lipstick-two;
    box-shadow: none;
  }
  &.white-btn{
      font-size: 18px;
      border-radius: 21.6px;
      box-shadow: 0 3px 5px 0 rgba(3, 41, 76, 0.05);
      background-color: $white;
      color: $marine-two;
      border-color: transparent;

    &:hover{
      color: $lipstick-two;
      box-shadow: none;
    }

  }


}
.link-underline{
  &:hover{
    color: $lipstick-two;
  }
}


/deep/
.ps__rail-y{
  opacity: 1;
  background-color: $pale-grey;

  &:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y{
    width:5px;
    background-color: $marine-two;
  }
  .ps__thumb-y{
    width:5px;
    background-color: $marine-two;
    right: -1.7px;

  }

}
/deep/
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y{
  right: 2px !important; ;
  width: 2px !important; ;;
  opacity: 1;
  background-color: $pale-grey;
&:hover, perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking{
  width: 2px;
}}

.icon-arrow{
  width: 13px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url('~src/assets/media/down.svg');
  cursor: pointer;

}
.icon-arrow-red{
  width: 8px;
  height: 13px;
  background-repeat: no-repeat;
  background-image: url('~src/assets/media/left.svg');
  cursor: pointer;
}


.popover-wrapper {
  display: none;
  width: 300px;
  border-radius: 6px;
  box-shadow: 0 14px 24px 0 rgba(132, 169, 204, 0.24);
  //border: solid 1px rgba(82, 82, 82, 0.17);
  background-color:$white;
  position: absolute;
  left: 0;
  top:135px;
  opacity: 0;
  padding: 30px 23px;
  &.slideDown{
    opacity: 1;
    z-index: 12;
    display: block;
  }



}

.popover-wrapper:after, .popover-wrapper:before {
  bottom: 100%;
  left: 29px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(255, 255, 255, 0);
}
.popover-wrapper:before {
 // border-bottom-color: rgba(82, 82, 82, 0.17);
  margin-left: -7px;
  border-width: 7px;
}
.popover-wrapper:after {
  border-bottom-color:$white !important;
  margin-left: -6px;
  border-width: 6px;
}

@media only screen and (max-width: $mobile_view) {
  .btn{
    @include lhCrop(1.4); //line-height: 1.4
    padding: 7px 30px 9px 30px;
  }
}

@media (max-width: 1024px) {
  .wrapper-icon {
    padding-left: 30px;
  }
}
