.close-btn {
  position: absolute;
  #{$default-end}: 1rem;
  top: 1rem;
  border: none;
  background: none;
}
.close-btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\2573"; /* use the hex value here... */
  font-size: 10px;
  color: black;
  line-height: 1;
  text-align: center;
}
lib-rc-switcher{

  .rc-switcher-wrapper {

    .rc-switcher-control {

      width: 58px !important;
      height: 30px;
      border-radius: 14.6px !important;
      label {
        background-image: url('~src/assets/media/blue-map.svg');
        background-repeat: no-repeat;
        background-position: 82% center;
        border-color:$marine-two !important;
        &.switcher-indicator{
          background-color: transparent;
          left: 10px !important;
          top: 20px !important;

          &:after {
            background-color: $marine-two !important;
            box-shadow: 0 2px 5px 0 rgba(3, 41, 76, 0.05);
            background-image: url('~src/assets/media/white-burger.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            left: -1px !important;
          }
        }

      }
      input:checked + label{
        background-color: transparent !important;
        background-image: url('~src/assets/media/blue-burger.svg');
        background-position: 18% center;
        &:after{
          left:28px !important;
          background-image: url('~src/assets/media/white-map.svg') !important;
        }

      }


    }
  }
}
.wrapper-icon {

  padding-left: 24px;
  margin-top: 15px;

  .branch-icon {
    text-align: center;
    float: $default-start;
    width: 26px;
    height: 26px;
    background: $lipstick-two;;
    border-radius: 5px;
    transform: rotate(45deg);
    &.bankat{
      background: $marine-two;;

    }

    .icon-val {
      color: $white;
      transform: rotate(-45deg);
    }
  }

}

.custom-control {
  display: flex;
  color: white;

  &.custom-checkbox {
    display: flex;
    align-items: center;
    color: #0a294c;

    .custom-control-description {
      margin-#{$default-start}: 25px;
    }

    .custom-control-input[type="checkbox"] ~ .custom-control-indicator {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: solid 1px $marine-two;
      background-color: $white;
    }

    .custom-control-input[type="checkbox"]:checked ~ .custom-control-indicator {
      background-color: $marine-two;
      background-image: url('~src/assets/media/check.svg');
      background-position: center;
      background-repeat:no-repeat;
    }


  }


}

.rc-popup-wrapper {
  /deep/
  .modal-dialog {
    &.full-width {
      height: 100%;
      margin: 0;
      /deep/
      .modal-content {
        border: none;
        border-radius: inherit;
        height: 100%;
      }

    }
  }

}

.icon-separation {

  margin: 0 8px;
  margin-top:3px;
  text-align: center;
  float: $default-start;
  width: 4px;
  height: 4px;
  background: $marine-two;;

  transform: rotate(45deg);


}
.btn {
  cursor: pointer;
  border-radius: 21.5px;
  border: solid 1px $marine-two;
  padding: 9px 35px;
  font-family: Poalim;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: $marine-two;
  line-height: 1;
  &:hover{
    border: solid 1px $lipstick-two;
    color: $lipstick-two; ;
  }
  &.white-btn{
      border-radius: 21.6px;
      box-shadow: 0 3px 5px 0 rgba(3, 41, 76, 0.05);
      background-color: $white;
    color: $marine-two;
    border-color: transparent;
    &:hover{
      color: $lipstick-two;
    }

  }


}
.link-underline{
  &:hover{
    color: $lipstick-two;
  }
}


/deep/
.ps__rail-y{
  opacity: 1;
  background-color: $pale-grey;

  &:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y{
    width:5px;
    background-color: $marine-two;
  }
  .ps__thumb-y{
    width:5px;
    background-color: $marine-two;
    right: -1.7px;

  }

}
/deep/
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y{
  right: 2px !important; ;
  width: 2px;
  opacity: 1;
  background-color: $pale-grey;
&:hover, perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking{
  width: 2px;
}}

.icon-arrow{
  width: 13px;
  height: 8px;
  background-repeat: no-repeat;
  background-image: url('~src/assets/media/down.svg');
  cursor: pointer;

}
.icon-arrow-red{
  width: 8px;
  height: 13px;
  background-repeat: no-repeat;
  background-image: url('~src/assets/media/left.svg');
  cursor: pointer;
}


.popover-wrapper {
  display: none;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 14px 24px 0 rgba(132, 169, 204, 0.24);
  border: solid 1px rgba(82, 82, 82, 0.17);
  background-color:$white;
  position: absolute;
  left: 0;
  top:135px;
  opacity: 0;
  padding: 30px 23px;
  &.slideDown{
    opacity: 1;
    z-index: 999;
    display: block;
  }



}

.popover-wrapper:after, .popover-wrapper:before {
  bottom: 100%;
  left: 29px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(255, 255, 255, 0);
}
.popover-wrapper:before {
  border-bottom-color: rgba(82, 82, 82, 0.17);
  margin-left: -7px;
  border-width: 7px;
}
.popover-wrapper:after {
  border-bottom-color:$white !important;
  margin-left: -6px;
  border-width: 6px;
}

