@import '~bootstrap/scss/bootstrap';
@import 'shared_param';
@import 'main';
@import 'colors';
@import 'fonts';
@import "mixins";
@import "~snazzy-info-window/dist/snazzy-info-window.css";


.outlined-btn {
  height: 44px;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid $marine-two;
  color: $marine-two;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  min-width: 148px;
  padding-bottom: .4rem;
  &:hover{
    border: solid 1px $lipstick-two;
    color: $lipstick-two;
  }
}

.outlined-btn.active {
  background: $marine-two;
  color: $white;
}
.outlined-btn:disabled {
  color: #C3CCD5;
  border-color: #C3CCD5;
}

