@import "../../../assets/scss/style";



.general-popup-wrapper {
  text-align: center;

  .general-popup-content {
       padding: 35px 32px 30px 32px;
  }
}

@media (max-width: $mobile_view) {
  .general-popup-content {
    padding: 35px 0 30px 32px !important;

  }
}

