@import "../../../assets/scss/style";
.branch-hours{
  font-size: 18px;
  font-weight: normal;
  .is-bankat{
    color: $true-green;
  }

 }
.title-open-today{
  color:  $true-green;
}
.open-today,open-specific-day{
  display: flex;
  align-items: center;


}
.open-today{
  &.withdropdown{
    cursor: pointer;
    padding: 0 15px;
    margin-right: -15px;

    &:hover{

      border-radius: 16px;
      background-color: rgba(10, 41, 76, 0.08);
    }
  }
}


.open-specific-day{
  display: flex;
  align-items: center;

  .title-open-today{
    color:  $true-green;



  }
}
.future-date{
  color: $lipstick-two;

}
.was-change{
  color:$true-yellow ;
}


@media (max-width: $mobile_view) {
  .branch-hours{
    font-size: 16px;
  }
}
