@import "../../../assets/scss/style";

.branch-hours{
  font-size: 18px;
  font-weight: normal;
  .is-bankat{
    color: $true-green;
  }

 }

.open-today,open-specific-day{
  display: flex;
  align-items: center;

  .title-open-today{
    color:  $true-green;



  }
}

.open-specific-day{
  display: flex;
  align-items: center;

  .title-open-today{
    color:  $true-green;



  }
}
.future-date{
  color: $lipstick-two;

}
.was-change{
  color:$true-yellow ;
}

