
<div class="popover-wrapper hours-list "    lib-rc-click-outside (clickOutside)="closeDropDown()"*ngIf="openHoursDrop" [ngClass]="{'slideDown':openHoursDrop}">
  <div *ngFor=" let dayHours of hoursList" class="drop-line">
      <span class="drop-label"> <span>{{'dropdownLabel' | rcTranslate}}</span> <span> {{dayHours.dayName}}:</span>
        </span>
    <span class="drop-val">
        <span *ngIf="dayHours.openToday" class="have-day-val">
             <span *ngIf="dayHours.label.morning">

        <span> {{dayHours.label.morning}}</span>
        </span>

        <span *ngIf="dayHours.label.noon && dayHours.label.morning"> <div  class="icon-separation"></div></span>

        <span *ngIf="dayHours.label.noon">{{dayHours.label.noon}}</span>
        </span>
        <span *ngIf="!dayHours.openToday" class="closed">{{'closed'| rcTranslate}}</span>

      </span>
  </div>
</div>

<div class="branch-hours" [ngClass]="{'single-display':isSingleDisplay}">
  <div class="clearfix branch-message" *ngIf="branchMessage">{{branchMessage}}</div>
  <div class="clearfix is-bankat" *ngIf="hours.isBankat && !branchMessage">{{ 'alwaysOpen' | rcTranslate}}</div>
  <div class="clearfix" *ngIf="!hours.isBankat && !branchMessage">

    <div class="clearfix" *ngIf="hours.wasChange">
      <div class="was-change">{{'changeHours'| rcTranslate}</div>
    </div>
    <div class="clearfix" *ngIf="!hours.wasChange">
      <div  *ngIf="hours.openCurrentDay && !dayName">
      <div *ngIf=" isMobile && isSingleDisplay" class="title-open-today" >{{'openToday'| rcTranslate }}</div>
        <button class="open-today" [attr.aria-hidden]="!isSingleDisplay" [ngClass]="{'withdropdown':isSingleDisplay, 'no-outline': !isSingleDisplay}" (click)="$event.stopPropagation(); isSingleDisplay && dropClick($event)">
          <span>
            <span *ngIf="!isMobile || !isSingleDisplay" class="title-open-today"> {{'openToday'| rcTranslate }}</span>
<!--            <br *ngIf="isMobile && isSwitchedToMap">-->
            <span *ngIf="hours.label.morning"></span> <span class="hours-pos">{{hours.label.morning}}</span>
          </span>
        <span *ngIf="hours.label.noon"> <div class="icon-separation"></div></span>
        <span *ngIf="hours.label.noon">{{hours.label.noon}}</span>
           <div *ngIf="isSingleDisplay" class="icon-arrow"></div>
        </button>

      </div>
      <div class="future-date" *ngIf="!dayName && !hours.filterByDay">
        {{hours.label.textHours}}
      </div>
      <div class="open-specific-day" *ngIf="dayName">
        <span *ngIf="hours.dayInWeek[dayName].specificDayValue.morning">
        <span class="title-open-today"> {{hours.dayInWeek[dayName].specificDayLabel }}</span>
        <span> {{hours.dayInWeek[dayName].specificDayValue.morning}}</span>
        </span>

        <span *ngIf="hours.dayInWeek[dayName].specificDayValue.noon"> <div class="icon-separation"></div></span>
        <span *ngIf="hours.dayInWeek[dayName].specificDayValue.noon">{{hours.dayInWeek[dayName].specificDayValue.noon}}</span>
      </div>
    </div>

  </div>


</div>

