@import "../../../assets/scss/style";


.branch-box{
  min-width: 500px;
  position: relative;
  margin-right: 30px;
  border-top:1px solid $pale-grey;
  border-bottom: 2px solid #EDECED;
  padding: 8px 0;
  &:first-child{
    border-top: none;
  }
}
.inner-box {
  cursor: pointer;
  display: flex;

  padding: 13px 20px  13px 12px;
  border-radius: 11px;



  &:hover{
   background-color: $pale-grey;
  }

  &.hover-on-marker {
  background-color: $pale-grey;
}
}


@media (max-width: $mobile_view) {
  .branch-box{
    margin-right: 0;
    min-width: 0;
  }
  .inner-box {
       padding: 13px 7px  13px 7px;
   }

}
