@import "../../../assets/scss/style";

.branch-box-wrapper{
  padding-right: 22px;


}
.branch-box{
  border-top:1px solid $pale-grey;
  border-bottom:1px solid $pale-grey;
  padding: 10px 0;
}
.inner-box {
  display: flex;
  padding: 31px 20px  28px 12px;
  border-radius: 11px;
  &:first-child{
    border-top: none;
  }
  .inner-branch-box{



  }
  .wrapper-icon {

    padding-left: 24px;
    margin-top: 15px;

    .branch-icon {
text-align: center;
      float: $default-start;
      width: 26px;
      height: 26px;
      background: $lipstick-two;;
      border-radius: 5px;
      transform: rotate(45deg);

      .icon-val {
        color: $white;
        transform: rotate(-45deg);
      }
    }
  }
  &:hover{
    background-color: $pale-grey ;
  }







}

