<div class="branch-box ">
  <div class="wrapper-icon">
    <div class="branch-icon">
      <div class="icon-val" > {{branchData.id}}</div>

    </div>
  </div>

  <div class="branch-details">
    <div class="name-and-number">
      <span>{{branchData.branchNum}}</span>
      <span>{{branchData.branchName}}</span>
      <span class="separator">|</span>
      <span class="accessibility"></span>
    </div>
    <div class="address"> <span>{{branchData.address}}</span></div>
    <div class="location"></div>
    <div class="hours"></div>

  </div>

</div>
